
body {
  background-image: url("../../assets/pictures/cockpi_micro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
      "user   .       .     navbar"
      "story story tooltip mission"
      "story story tooltip mission"
      "story story tooltip mission";
}

.navbar {
  grid-area: navbar;
  width: 100%;
}

.nav-button {
  position: relative;
  padding: 10px;
  font-size: 20px;
  margin: 30px 10px 10px;
  text-align: center;
  cursor: pointer;
}

.button {
  position: relative;
  padding: 10px;
  font-size: 24px;
  margin: 10px;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.story {
  grid-area: story;
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 10px;
  width: 60vw;
  height: 600px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission {
  grid-area: mission;
  position: relative;
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 10px;
  width: auto;
  height: 600px;
  padding: 1rem;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.image-link img {
  width: 100px;
  height: auto;

}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled img {
  width: 100px;
  height: auto;

}

.user {
  grid-area: user;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  visibility: hidden;
  left: -200px;
  right: 150px
}

.mission .image-link:hover .tooltip {
  visibility: visible;
}

