<div class="background-image">
  <div class="button-container1">
    <button (click)="playAudio()" class="play-button">{{buttonText}}</button>
  </div>
  <div class="container">

    <app-animation-text [intro]="intro"></app-animation-text>


<!--    <p class="text">{{intro}}</p>-->

  </div>
  <app-ace-editor></app-ace-editor>



  <div class="button-container2">
    <button routerLink="/" class="left-button">Back to Menu</button>
    <button class="right-button">Start Mission</button>
  </div>
  <audio #audioPlayer (ended)="audioEnded()">
    <source src="assets/sounds/intro.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

</div>
