<body>
<div class="background-image">
  <div [style.visibility]="!mouseMoved ? 'hidden' : 'visible'" class="up">
    <button class=water-button (click)="audio()" routerLink="/">Back to Menu</button>
  </div>
  <div class="middle">
    <p>
      Wenn Dir das Spiel gefallen hat und oder du keine Leben mehr hast dann überweise uns doch bitte einen kleinen
      Betrag um diese wieder auf zu füllen ;)
    </p>
    <a href="https://www.paypal.com/paypalme/HackTheRoom" target="_blank">
      <button (click)="fillLife()">
        Klick Me To get more Life
      </button>
    </a>
  </div>
</div>
</body>
