#editor {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 68, 70, 0.7);
}

#output {
  margin-top: 20px;
  background-color: rgba(62, 68, 70, 0.7);
  padding: 10px;
  border: 1px solid #ccc;
  color: white;
}

/*.ace-tm {*/
/*  color: rgb(232, 230, 227);*/
/*}*/

/*#editor > .ace_gutter {*/
/*  background-color: aliceblue;*/
/*  !* any other properties you want to set for the gutter *!*/
/*}*/

/*:host .ace-tm .ace_gutter {*/
/*  background-color: rgb(7, 122, 199);*/
/*  background-image: none;*/
/*  color: rgb(200, 195, 188);*/
/*}*/
/** {*/
/*  scrollbar-color: #454a4d #202324;*/
/*}*/
/* */
