<body>
<nav class="nav-buttons">
  <button class="water-button" routerLink="/">Back to Homepage</button>
</nav>
<p class="title">Login</p>
<div class="login-container">
  <form>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="credentials.username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="credentials.password">
    <button (click)="sendLogin()">Login</button>
  </form>

  <div class="info" *ngIf="info">
    {{info | json }}
  </div>
</div>
</body>
