
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/pictures/highscore.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 98vh;
  margin: 0;
  padding: 0;
  /*font-family: 'Roboto', sans-serif;*/
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.table-header {
  font-size: 5em;
  color: dodgerblue;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 40px;
  margin-top: 20px;
}

table {
  width: 80%;
  max-width: 800px;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table-title-row {
  font-size: 3em;
  color: beige;
  text-shadow: 2px 2px 2px black;
}

.table-title-row th {
  padding: 10px;
  text-align: center;
}

.table-body-row {
  color: beige;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.7);
}

.table-body-row td {
  padding: 5px;
  font-size: 2em;
  color: white;
  text-align: center;
}


button:hover {
  color: white;
}

.water-button {
  position: relative;
  background-color: transparent;
  border: none;
  color: wheat;
  width: 400px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  font-size: 24px;
  margin: 20px;
}

.water-button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 400px;
  height: 80%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 10%, transparent 80%);
  transform: scale(0.8);
  opacity: 0;
  animation: water-ripple 2s linear infinite;
}

@keyframes water-ripple {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.2;
  }
}


