.image {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  height: 1024px;
  background-size: cover;
  width: auto;
  background-image: url('../../assets/pictures/highscore.jpg');
  background-position: 50% 50%;
}

.table-header {
  color: beige;
  font-size: 5em;
  text-shadow: 2px 2px 2px black;
}

.image table {
  margin-top: 10px;
}

.table-title-row {
  margin-top: 20px;
  font-size: 3em;
  font-weight: bold;
  color: beige;
  text-shadow: 2px 2px 2px black;
}

.table-title-row th {
  padding-right: 20px;
}

.table-body-row {
  color: beige;
  text-shadow: 1px 1px 1px black;
}

.table-body-row td {
  padding-left: 20px;
  font-size: 2em;
  color: aquamarine;
  font-weight: bold;
}

.water-button {
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  width: 400px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  font-size: 24px;
  margin: 20px;
}

.water-button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 400px;
  height: 80%;
  background: radial-gradient(circle, rgba(1, 0, 0, 0.8) 10%, transparent 90%);
  transform: scale(0);
  opacity: 0.5;
  animation: water-ripple 2s linear infinite;
  animation-direction: alternate;
}

@keyframes water-ripple {
  0% {
    transform: scale(0.6);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}
