<!--<p>high-score works!</p>-->
<body>
  <nav [style.visibility]="!mouseMoved ? 'hidden' : 'visible'">
    <button routerLink="/" (click)="audio()" class="water-button">Back to Menu</button>
  </nav>
  <h1 class="table-header">Hall of Fame</h1>
  <table>
    <thead>
    <tr class="table-title-row">
      <th>Rank</th>
      <th>Username</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let score of highScores; let i = index" class="table-body-row">
      <td>#{{ i + 1 }} </td>
      <td>{{ score.userName }}</td>
      <td>{{ score.score }}</td>
    </tr>
    </tbody>
  </table>
</body>
