.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;

}

.content-box {
  text-align: left;
  color: darkblue;
  font-size: 24px;
  font-weight: bold;
}
