.background-image {
  background-image:  url("../../assets/pictures/cockpi_micro.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-position: center center;
}
