<div class="background-image" [style.background-image]="'url(' + backgroundImage + ')'">
  <div class="button-container1">
    <button (click)="playAudio()" class="play-button">{{buttonText}}</button>
  </div>

  <ng-container *ngIf="!textCompleted && level">

    <app-animation-text
      [story]="level.story"
      (textCompleted)="onTextCompleted()"></app-animation-text>

  </ng-container>

<!--  <ng-container *ngIf="!textCompleted; else aceEditorBlock">-->
<!--    <app-animation-text-->
<!--      [roomData]="currentRoom"-->
<!--      (textCompleted)="onTextCompleted()"></app-animation-text>-->
<!--  </ng-container>-->
<!--  <ng-template #aceEditorBlock>-->
<!--    <app-ace-editor [roomData]="currentRoom"></app-ace-editor>-->
<!--  </ng-template>-->

</div>
