<body [style.background-image]="'url(' + imageUrl + ')'">
<nav class="navbar">
  <button (click)="playAudio()" class="nav-button">{{buttonText}}</button>
  <button routerLink="/" class="nav-button">Back to Menu</button>
</nav>

<div class="user">
  <app-user></app-user>
</div>

<div class="timer" *ngIf="levelData">
  <app-timer

    [duration]="levelData.timeLimit"
    (timeOut)="handleTimeout()"

  ></app-timer>
</div>


<div class="story" *ngIf="levelData">
  <app-animation-text

    [text]="levelData.story"

  ></app-animation-text>
</div>

<div class="terminal" *ngIf="levelData">

  <app-ace-editor

    [codeChallenge]="levelData.task"

    [codeSolution]="levelData.solution"

  ></app-ace-editor>

</div>
</body>


<!--Old information divs to check for functionality-->
<!--  [style.background-repeat]=" 'no-repeate' "-->
<!--  <p>learn-objekt works!</p>-->
<!--  <div>{{levelData?.name}}</div>-->

<!--  <div>{{levelData?.image}}</div>-->
<!--  <div>{{imageUrl}}</div>-->
