
body {
  /*background-image: url("../../assets/pictures/cockpi_micro.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
      "user   .       .     navbar"
      "story story timer timer"
      "story story terminal terminal"
      "story story terminal terminal";
}

.navbar {
  grid-area: navbar;
  width: 100%;
}

.nav-button {
  position: relative;
  padding: 10px;
  font-size: 20px;
  margin: 30px 10px 10px;
  text-align: center;
  cursor: pointer;
}

.button {
  position: relative;
  padding: 10px;
  font-size: 24px;
  margin: 10px;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.story {
  grid-area: story;
  background-color: rgba(62, 68, 70, 0.7);
  border-radius: 10px;
  width: 40vw;
  height: 600px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.terminal {
  grid-area: terminal;
  border-radius: 10px;
  width: 600px;
  height: auto;
  padding: 1rem;
  margin: 20px 50px;
  display: inline;
}

.timer{
  grid-area: timer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.image-link img {
  width: 100px;
  height: auto;

}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled img {
  width: 100px;
  height: auto;

}

.user {
  grid-area: user;
}

.ace-tm .ace_gutter {
  background-color: rgb(7, 122, 199);
  background-image: none;
  color: rgb(200, 195, 188);
}


