<body>
  <nav class="navbar">
    <button (click)="playAudio()" class="nav-button">{{buttonText}}</button>
    <button routerLink="/" class="nav-button">Back to Menu</button>
  </nav>

  <table class="user">
    <tr>
      <th colspan="2" class="title">{{user?.userName}}</th>
    </tr>
    <tr>
      <td>Life</td>
      <td class="emoji">{{ displayHeartEmoji(user?.life) }}</td>
    </tr>
    <tr>
      <td>Level</td>
      <td class="emoji">{{ displayStarEmoji(user?.idxActualLearnObject) }}</td>
    </tr>
    <tr>
      <td>Score</td>
      <td class="emoji">{{ (user?.score) }}</td>
    </tr>
  </table>

  <div class="timer" *ngIf="levelData">
    <app-timer

      [duration]="levelData.timeLimit"

      ></app-timer>
    </div>


  <div class="story" *ngIf="levelData">
  <app-animation-text

    [text]="levelData.story"

    ></app-animation-text>
  </div>
  <div class="terminal" *ngIf="levelData">
    <app-ace-editor [codeChallenge]="levelData.task"></app-ace-editor>
  </div>
</body>













<!--Old information divs to check for functionality-->
<!--  [style.background-repeat]=" 'no-repeate' "-->
<!--  <p>learn-objekt works!</p>-->
<!--  <div>{{levelData?.name}}</div>-->

<!--  <div>{{levelData?.image}}</div>-->
<!--  <div>{{imageUrl}}</div>-->
