<hr>
<h1>Home component</h1>
<button (click)="getGreeting()">Get Greeting</button>
<div *ngIf="greeting">
  <div>Message: {{greeting.message}}</div>
  <div>Audience: {{greeting.audience}}</div>
</div>
<hr>

<button (click)="getGreetingUser()">Get Greeting (User)</button>
<div *ngIf="greetingUser">
  <div>Message: {{greetingUser.message}}</div>
  <div>Audience: {{greetingUser.audience}}</div>
</div>

<div *ngIf="info">
{{info | json }}
</div>

<hr>
<h4>Do login</h4>
<form>
  <label>Name:</label>
  <input name="username" [(ngModel)]="credentials.username">
  <label>Password:</label>
  <input name="password" [(ngModel)]="credentials.password">
  <button (click)="sendLogin()">Post candidate</button>
</form>
