body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/_ff60438e-3a07-44cf-a4b1-bc19eab0ea66.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin: 0;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button {
  position: relative;
  padding: 10px;
  font-size: 24px;
  margin: 10px;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.nav-button {
  position: relative;
  padding: 10px;
  font-size: 20px;
  margin: 30px 10px 10px;
  text-align: center;
  cursor: pointer;
}

.title {
  color: lightblue;
  font-size: 50px;
  font-weight: bold;
  margin: 70px;
  -webkit-text-stroke: 1px white;
}

.welcome {
  color: darkblue;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  -webkit-text-stroke: 1px gold;
}
.welcome img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 10px;

}
