<body>
<nav class="nav-buttons">
  <button class="nav-button" routerLink="/">Back to Homepage</button>
  </nav>
<p class="title">Registration</p>
<div class="login-container">
  <form>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="credentials.username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="credentials.password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword">
    <button (click)="register()">Register Now</button>

  </form>

  <div class="info" *ngIf="info">
    {{info | json }}
  </div>
</div>
</body>
